* {
    box-sizing: border-box;
  }

.form {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;;
}

.PromptInput {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*box-sizing: border-box;*/
    outline: none;
    /*max-height: 10em;*/
    transition: border-color 0.3s ease-in-out;
    /*line-height: 3em;*/
    /*padding-top: 0.5em;*/
    height: 3em;
    /*min-width: 400px;*/
    border-radius: 1em;
    font-size: 15px;
    width: 43vw;
    border: 1px solid #00000079;
    padding-left: 1.5em;
    padding-right: 2em;
    padding-top: 0.9em;
    padding-bottom: 0.8em;
    resize: none;
    overflow-y: auto;
    margin: 0;
    white-space: pre-wrap;
    min-width: 350px;   
}

.PromptInput:hover:not(:disabled), :focus:not(:disabled) {
    border-color: #ffdd2d;
}

.PromptInput::-webkit-scrollbar {
    width: 0;
}


.PromptInput > .submitButton {
    justify-content: flex-end;
}